.Section_map_class{
  padding: 50px 0px;

  &-head_title{
  
  line-height: 41px;
  font-size: 35px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  }

  &-text{
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #fff;
  }


  &-map{
    height: 560px;
    margin:42px 0px;
  }
}