.Section_map_class_mobile{
  padding: 20px 0px;

  &-head_title{
  
  line-height: 32px;
  font-size: 27px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  }

  &-text{
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  //text-align: center;
  margin-left: 20px;
  }


  &-map{
    height: 656px;
    margin:26px 20px 17px;
  }
}